@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Gotu&family=Manrope:wght@600&family=Palanquin:wght@500&display=swap');
/* font-family: 'Amaranth', sans-serif;
font-family: 'Gotu', sans-serif;
font-family: 'Palanquin', sans-serif;
font-family: 'Manrope', sans-serif; */

body {
    font-family: 'Gotu', sans-serif;
    box-sizing: border-box;
}
#login-form{
    padding: 20px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 4px;
}
#login-form form{
    font-family: 'Amaranth', sans-serif;
    color: green;
}
.form-group{
    padding: 10px;
}
.navbar .navbar-brand{
    letter-spacing: 10px !important;
    font-weight: bolder;
    color: darkslateblue;
    font-size: large;
}

#books_div{
    background-color: beige;
    padding: 20px;
    font-size: 1.2em;
}
#review_bk{
    padding: 30px;
}

#all_rev{
    padding: 50px;
    border: 1 ps solid grey;
    border-radius: 2px;
}
#user{
    background-color: azure;
}
#rating{
    color: black;
}