{% extends 'layout.html' %}


{% block title %} Search Books{% endblock %}


{% block content %}
{<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>ISBN NUmber</th>
                        <th>Book Title</th>
                        <th>Book Author</th>
                        <th>Year Published</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">{{book.isbn}}</a></td>
                        <td><a href="">{{book.title}}</a></td>
                        <td><a href="">{{book.author}}</a></td>
                        <td><a href="">{{book.pub_year}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}