{% extends 'layout.html' %}

{% block title %} Home
{% endblock %}

{% block content %}
<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-12">
            <form action="{{url_for('search_book') }}" method="post">
                <div class="form-group">
                    <div class="row justify-content-center">
                        <div style="margin:10px auto;" class="col-md-7">
                            <input class="form-control" type="text" name="search" placeholder="Enter Book ISBN title or book author here">
                        </div>
                        <div style="margin:10px auto;" class="col-md-4">
                            <a href=""><button class="btn btn-secondary">Search</button></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

       <div class="row">
                <div class="col-sm-6">
                   {% with messages = get_flashed_messages(with_categories=true) %}
                        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                        {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>

    <div class="row" id="books_div">
        <div class="col-md-7">
            {% for book in book_result %}
                <a href="{{ url_for('book',isbn = book.isbn)}}">
                    <p>{{ book.isbn }}, {{ book.title }}, <i>{{ book.author }}</i>, {{ book.pub_year }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
    
</div>

{% endblock %}